<!DOCTYPE html>
<html>
<head>
  <title>Oceans Yachting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/logo-image.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <nav class="navbar navbar-default dark-theme">
    <div class="container-fluid">
      <div class="navbar-padding">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand mr-0 mr-md-2" href="/"><%= image_tag "oceans-yachting-logo.png", class: "home-logo"%></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#company_profile">Company Profile</a></li>
            <li><a href="#yacht_management">Yacht Management</a></li>
            <li><a href="#engineering_services">Engineering Services</li>
            <li><a href="#helicopter_aviation">Helicopter/Aviation</a></li>
            <li><a href="#contact">Contact Us</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </div><!-- /.container-fluid -->
  </nav>

  <div id="carousel-bg-image" class="bg-image-carousel carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag "bg-img-1.jpg", class: "main-bg bg-1"%>
      </div>
      <div class="item">
        <%= image_tag "bg-img-2.jpg", class: "main-bg bg-2"%>
      </div>
      <div class="item">
        <%= image_tag "bg-img-3.jpg", class: "main-bg bg-3"%>
      </div>
      <div class="item">
        <%= image_tag "bg-img-4.jpg", class: "main-bg bg-4"%>
      </div>
      <div class="item">
        <%= image_tag "bg-img-5.jpg", class: "main-bg bg-5"%>
      </div>
    </div>
  </div>

  <!-- Regular Screen Modal -->
  <div class="modal fade" id="employee-modal-1" tabindex="-1" role="dialog" aria-labelledby="employee-modal-1-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
              <%= image_tag "aaron-abramowitz.jpg", class: "modal-img"%>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
              <h4 class="modal-title" id="employee-modal-1-label">Aaron Abramowitz</h4>
              <h4>CEO - USCG Master Oceans 1600/3000</h4>
            </div>
          </div>
        </div>
        <div class="modal-body">
          Captain Aaron Abramowitz has spent 20+ years in the yachting industry. In his early teens he discovered a love for the water operating family boats and sailing on the New England waterways and lakes. His professional career started on tall ships sailing the East and West Coast. These non-profit programs focused on youth educational programs, leadership development, and the preservation of the North American maritime heritage. Aaron’s inclination towards problem solving quickly led him down the path of Captain and Engineer where he learned how to sail, expect the unexpected, diagnose and solve technical issues, and break down the inner-workings of the ship. Aaron earned his Masters license in his early 20’s and shifted from tall ships to sailing yachts. This is where Aaron’s knowledge of vessel engineering, his love of sailing, and his desire to provide a first-class experience to owners and guests came together.  Aaron continued to accumulate professional experience with superyachts as he captained yachts in the Atlantic, Pacific, Mediterranean, and eventually, around the world.  He has planned and managed many multi million dollar yacht refits, annual yard periods, and takes pride in keeping programs on time, on budget and in compliance while minimizing downtime and cost.
          From tall ships to modern sailing and motor yachts, Aaron has operated and managed the largest and most expensive yachts in the industry. His depth of experience, his operational savvy and commitment to providing first class service makes him uniquely qualified as a Yacht Manager.
          <br></br>
          ‘Other agencies react to their client, always trying to please in the moment and are never fully prepared for their needs. I’ve always been weeks and and months ahead of my client - allowing the yacht program to quickly pivot to any need.'
        </div>
        <div class="profile-bullets">
          <ul>
            <li>SY Felicita West 64m</li>
            <li>MY Mine Games 62m</li>
            <li>SY Prana 52m</li>
            <li>SY Perseus 50m</li>
            <li>MY Just J’s 46m</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="employee-modal-2" tabindex="-1" role="dialog" aria-labelledby="employee-modal-2-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
              <%= image_tag "david-abramowitz.jpg", class: "modal-img"%>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
              <h4 class="modal-title" id="employee-modal-2-label">David Abramowitz</h4>
              <h4>CFO - Head of Engineering</h4>
            </div>
          </div>
        </div>
        <div class="modal-body">
          Mr. David Abramowitz graduated  from Virginia Tech in 2000 with a B.S. in Mechanical Engineering. He moved through the Navy and USCG contractor ranks as an estimator, verification and validation specialist, interface specialist, project manager, program manager, chief engineer, principal engineer and program analyst. He has directed multimillion dollar programs responsible for tasking 30+ engineers. During this time, he has successfully started and funded multiple businesses in construction, private equity, real estate rental, engineering services, and software development. It’s David ability to dissect complicated tasks into simple efforts that allows him to succeed where others fail.
          <br></br>
          ‘My mentor once told me F=ma anywhere in the world. I’ve never been able to prove him wrong.'
        </div>
        <div class="profile-bullets">
          <ul>
            <li>Navy Littoral Combat Ship (LCS)</li>
            <li>SCG National Security Cutter (NSC)</li>
            <li>USCG Heavy Polar Icebreaker (HPIB)</li>
            <li>Navy CVN 77</li>
            <li>Navy DDG 51</li>
            <li>MY Morgan Star 115ft</li>
            <li>MY Bandido 125ft</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="employee-modal-3" tabindex="-1" role="dialog" aria-labelledby="employee-modal-3-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
              <%= image_tag "matt-redmond.jpg", class: "modal-img"%>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
              <h4 class="modal-title" id="employee-modal-3-label">Matt Redmond</h4>
              <h4>Aviation COO</h4>
            </div>
          </div>
        </div>
        <div class="modal-body">
          Mr. Matthew Redmond has 28 Years of Aviation, Aerospace and National Security experience. A Major in the California Air National Guard, Mr. Redmond has aviation experience from Alaska to Afghanistan. His experience includes 1500 helo hours including operations during day and night over water and mountainous terrain under VMC and IMC executing sling loads, fire buckets, hoists, weapons employment, insertions, extractions and VIP movements. He has the experience to schedule, manage and coordinate aviation operations that are professional, effective and safe. His impeccable service earned him the Earl T. Ricks Award for aircrew with best airmanship.
          <br></br>
          ‘Ive seen a gap in the yacht industries aviation acumen. It lacks discipline and the understanding of international rules and regulations. We are changing that - and we won’t look back.'
        </div>
        <div class="profile-bullets">
          <ul>
            <li>Hughes OH-6 Cayuse</li>
            <li>Th-67 / Bell 206</li>
            <li>Bell UH-1 Iroquois</li>
            <li>Sikorsky UH-60 Black Hawk</li>
            <li>Sikorsky HH-60 Pave Hawk</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="employee-modal-4" tabindex="-1" role="dialog" aria-labelledby="employee-modal-4-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
              <%= image_tag "dave-smith.jpg", class: "modal-img"%>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
              <h4 class="modal-title" id="employee-modal-4-label">Dave Smith</h4>
              <h4>Senior Yacht Consultant</h4>
            </div>
          </div>
        </div>
        <div class="modal-body">
          Mr. David Smith spent the last decade involved with the worlds most Iconic yacht programs. He is a first generation officer to fully implement International compliance standards in the super yacht industry. He has advised and participated in the progression of  yachting standards and administration into a professional domain. An MCA Master 3000 Captain with a wide degree of experience panning from managing commercial charters to remote Island resource and real estate management .
          <br></br>
          ‘This company was set up because we hear a lot of talk but don’t see enough "boots on the ground" experience managing multimillion dollar yacht programs. I think our new generation experience and general passion to make the yacht and crew assets excel sets us apart, that and our ability to handle challenges the rest shy away from.'
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile Modal -->
  <div class="modal fade" id="mobile-employee-modal-1" tabindex="-1" role="dialog" aria-labelledby="mobile-employee-modal-1-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%= image_tag "aaron-abramowitz.jpg", class: "modal-img center-block"%>
            </div>
          </div>
          <div class="row">
            <div class="text-center col-md-12 col-sm-12 col-xs-12">
              <h4 class="modal-title" id="mobile-employee-modal-1-label">Aaron Abramowitz</h4>
              <h4>CEO - USCG Master Oceans 1600/3000</h4>
            </div>
          </div>
        </div>
        <div class="modal-body">
          Captain Aaron Abramowitz has spent 20+ years in the yachting industry. In his early teens he discovered a love for the water operating family boats and sailing on the New England waterways and lakes. His professional career started on tall ships sailing the East and West Coast. These non-profit programs focused on youth educational programs, leadership development, and the preservation of the North American maritime heritage. Aaron’s inclination towards problem solving quickly led him down the path of Captain and Engineer where he learned how to sail, expect the unexpected, diagnose and solve technical issues, and break down the inner-workings of the ship. Aaron earned his Masters license in his early 20’s and shifted from tall ships to sailing yachts. This is where Aaron’s knowledge of vessel engineering, his love of sailing, and his desire to provide a first-class experience to owners and guests came together.  Aaron continued to accumulate professional experience with superyachts as he captained yachts in the Atlantic, Pacific, Mediterranean, and eventually, around the world.  He has planned and managed many multi million dollar yacht refits, annual yard periods, and takes pride in keeping programs on time, on budget and in compliance while minimizing downtime and cost.
          From tall ships to modern sailing and motor yachts, Aaron has operated and managed the largest and most expensive yachts in the industry. His depth of experience, his operational savvy and commitment to providing first class service makes him uniquely qualified as a Yacht Manager.
          <br></br>
          ‘Other agencies react to their client, always trying to please in the moment and are never fully prepared for their needs. I’ve always been weeks and and months ahead of my client - allowing the yacht program to quickly pivot to any need.'
        </div>
        <div class="profile-bullets">
          <ul>
            <li>SY Felicita West 64m</li>
            <li>MY Mine Games 62m</li>
            <li>SY Prana 52m</li>
            <li>SY Perseus 50m</li>
            <li>MY Just J’s 46m</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="mobile-employee-modal-2" tabindex="-1" role="dialog" aria-labelledby="mobile-employee-modal-2-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%= image_tag "david-abramowitz.jpg", class: "modal-img center-block"%>
            </div>
          </div>
          <div class="row">
            <div class="text-center col-md-12 col-sm-12 col-xs-12">
              <h4 class="modal-title" id="mobile-employee-modal-2-label">David Abramowitz</h4>
              <h4>CFO - Head of Engineering</h4>
            </div>
          </div>
        </div>
        <div class="modal-body">
          Mr. David Abramowitz graduated  from Virginia Tech in 2000 with a B.S. in Mechanical Engineering. He moved through the Navy and USCG contractor ranks as an estimator, verification and validation specialist, interface specialist, project manager, program manager, chief engineer, principal engineer and program analyst. He has directed multimillion dollar programs responsible for tasking 30+ engineers. During this time, he has successfully started and funded multiple businesses in construction, private equity, real estate rental, engineering services, and software development. It’s David ability to dissect complicated tasks into simple efforts that allows him to succeed where others fail.
          <br></br>
          ‘My mentor once told me F=ma anywhere in the world. I’ve never been able to prove him wrong.'
        </div>
        <div class="profile-bullets">
          <ul>
            <li>Navy Littoral Combat Ship (LCS)</li>
            <li>SCG National Security Cutter (NSC)</li>
            <li>USCG Heavy Polar Icebreaker (HPIB)</li>
            <li>Navy CVN 77</li>
            <li>Navy DDG 51</li>
            <li>MY Morgan Star 115ft</li>
            <li>MY Bandido 125ft</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="mobile-employee-modal-3" tabindex="-1" role="dialog" aria-labelledby="mobile-employee-modal-3-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%= image_tag "matt-redmond.jpg", class: "modal-img center-block"%>
            </div>
          </div>
          <div class="row">
            <div class="text-center col-md-12 col-sm-12 col-xs-12">
              <h4 class="modal-title" id="mobile-employee-modal-3-label">Matt Redmond</h4>
              <h4>Aviation COO</h4>
            </div>
          </div>
        </div>
        <div class="modal-body">
          Mr. Matthew Redmond has 28 Years of Aviation, Aerospace and National Security experience. A Major in the California Air National Guard, Mr. Redmond has aviation experience from Alaska to Afghanistan. His experience includes 1500 helo hours including operations during day and night over water and mountainous terrain under VMC and IMC executing sling loads, fire buckets, hoists, weapons employment, insertions, extractions and VIP movements. He has the experience to schedule, manage and coordinate aviation operations that are professional, effective and safe. His impeccable service earned him the Earl T. Ricks Award for aircrew with best airmanship.
          <br></br>
          ‘Ive seen a gap in the yacht industries aviation acumen. It lacks discipline and the understanding of international rules and regulations. We are changing that - and we won’t look back.'
        </div>
        <div class="profile-bullets">
          <ul>
            <li>Hughes OH-6 Cayuse</li>
            <li>Th-67 / Bell 206</li>
            <li>Bell UH-1 Iroquois</li>
            <li>Sikorsky UH-60 Black Hawk</li>
            <li>Sikorsky HH-60 Pave Hawk</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="mobile-employee-modal-4" tabindex="-1" role="dialog" aria-labelledby="mobile-employee-modal-4-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%= image_tag "dave-smith.jpg", class: "modal-img center-block"%>
            </div>
          </div>
          <div class="row">
            <div class="text-center col-md-12 col-sm-12 col-xs-12">
              <h4 class="modal-title" id="mobile-employee-modal-4-label">Dave Smith</h4>
              <h4>Senior Yacht Consultant</h4>
            </div>
          </div>
        </div>
        <div class="modal-body">
          Mr. Smith spent the last decade involved with the worlds most Iconic yacht programs. He is a first generation officer to fully implement International compliance standards in the super yacht industry. He has advised and participated in the progression of  yachting standards and administration into a professional domain. An MCA Master 3000 Captain with a wide degree of experience panning from managing commercial charters to remote Island resource and real estate management .
          <br></br>
          ‘This company was set up because we hear a lot of talk but don’t see enough "boots on the ground" experience managing multimillion dollar yacht programs. I think our new generation experience and general passion to make the yacht and crew assets excel sets us apart, that and our ability to handle challenges the rest shy away from.'
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="section-1 slug-link">
    <a name="company_profile"></a>
    <div class="section-header-padding-top"></div>
    <h1 class="text-center section-header">Company Profile</h1>
    <div class="section-header-underline"></div>
    <div class="section-header-padding-bottom"></div>

      <!-- regular screen rendering -->
      <div class="regular-screen">
        <div id="carousel-profile" class="carousel slide">
          <div class="row mx-auto text-center section-content-container">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="card center-block" data-toggle="modal" data-target="#employee-modal-1">
                    <%= image_tag "aaron-abramowitz.jpg", class: "card-img-top"%>
                    <div class="card-body">
                      <h5 class="card-title">Aaron Abramowitz</h5>
                      <p class="container-fluid card-text">CEO - USCG Master Oceans 1600/3000</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="card center-block" data-toggle="modal" data-target="#employee-modal-2">
                    <%= image_tag "david-abramowitz.jpg", class: "card-img-top"%>
                    <div class="card-body">
                      <h5 class="card-title">David Abramowitz</h5>
                      <p class="container-fluid card-text">CFO - Head of Engineering</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="card center-block" data-toggle="modal" data-target="#employee-modal-3">
                    <%= image_tag "matt-redmond.jpg", class: "card-img-top"%>
                    <div class="card-body">
                      <h5 class="card-title">Matt Redmond</h5>
                      <p class="container-fluid card-text">Aviation COO</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="card center-block" data-toggle="modal" data-target="#employee-modal-4">
                    <%= image_tag "dave-smith.jpg", class: "card-img-top"%>
                    <div class="card-body">
                      <h5 class="card-title">Dave Smith</h5>
                      <p class="container-fluid card-text">Senior Yacht Consultant</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Controls -->
          <div class="carousel-profile-control-container">
            <a class="left carousel-control" href="#carousel-profile" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-profile" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>

      <!-- mobile screen rendering -->
      <div class="mobile-screen">
        <div id="mobile-carousel-profile" class="carousel slide">
          <div class="row mx-auto text-center section-content-container">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="col-xs-12">
                  <div class="card center-block" data-toggle="modal" data-target="#mobile-employee-modal-1">
                    <%= image_tag "aaron-abramowitz.jpg", class: "card-img-top"%>
                    <div class="card-body">
                      <h5 class="card-title">Aaron Abramowitz</h5>
                      <p class="container-fluid card-text">CEO - USCG Master Oceans 1600/3000</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12">
                  <div class="card center-block" data-toggle="modal" data-target="#mobile-employee-modal-2">
                    <%= image_tag "david-abramowitz.jpg", class: "card-img-top"%>
                    <div class="card-body">
                      <h5 class="card-title">David Abramowitz</h5>
                      <p class="container-fluid card-text">CFO - Head of Engineering</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12">
                  <div class="card center-block" data-toggle="modal" data-target="#mobile-employee-modal-3">
                    <%= image_tag "matt-redmond.jpg", class: "card-img-top"%>
                    <div class="card-body">
                      <h5 class="card-title">Matt Redmond</h5>
                      <p class="container-fluid card-text">Aviation COO</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12">
                  <div class="card center-block" data-toggle="modal" data-target="#mobile-employee-modal-4">
                    <%= image_tag "dave-smith.jpg", class: "card-img-top"%>
                    <div class="card-body">
                      <h5 class="card-title">Dave Smith</h5>
                      <p class="container-fluid card-text">Senior Yacht Consultant</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Controls -->
            <div class="carousel-profile-control-container">
              <a class="left carousel-control" href="#mobile-carousel-profile" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#mobile-carousel-profile" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>

  </div>

  <div class="section-2 slug-link">
    <a name="yacht_management"></a>
    <div class="section-header-padding-top"></div>
    <h1 class="text-center section-header">Yacht Management</h1>
    <div class="section-header-underline"></div>
    <div class="section-header-padding-bottom"></div>
    <div class="row section-content-container">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="image-container">
          <%= image_tag "yacht-management.jpg", class:"section-img"%>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="text-container">
          Oceans Yachting created a superior product and operating standard to fill existing industry gaps.  Our system allows yacht Captains and crew to navigate our custom Safety Management System, saving yacht owners time and money. Owners have peace of mind knowing their asset is being guided through complex and virtually unknown private and commercial yachting laws and rules. Oceans Yachting’s extensive knowledge in the areas of ISPS, ISM and MLC make us the perfect choice for the serious owner. Our fully customizable Safety Management System (SMS) is tailored to specific needs and requirements.  If operating a compliant yacht or are looking to increase efficiency and compliance, Oceans Yachting is prepared to take you through the process.
          <br></br>
          Service doesn’t end at the Yacht.
          <br></br>
          Oceans Yachting offers a professional system of accounting across all operations. Working directly with Captains and Pursers to provide accurate on time accounting to ownership.
          <br></br>
          Flag and MLC approved crew contracts are issued to all crew members.  Contracts are tailored to each yacht’s individual program making provisions for the above mentioned.
          <br></br>
          SEA’s/contracts are important for both owners and crew alike, spelling out terms of employment protect both parties and ultimately build a better working environment.
          <br></br>
          Through our extensive professional network, Oceans Yachting assists with crewing needs. Our ability as industry professionals to assist in the process of hiring fully vetted and qualified industry professionals and understanding the crew requirements make us invaluable.
          <br></br>
          Every yachts payroll is handled according to flag state and MLC requirements. Our payroll system tracks all crew members pay to include holiday accrued, holiday taken, federal or local deductions, medical, dental, retirement or any other payroll deduction.
        </div>
      </div>
    </div>
  </div>

  <div class="section-3 slug-link">
    <a name="engineering_services"></a>
    <div class="section-header-padding-top"></div>
    <h1 class="text-center section-header">Engineering Services</h1>
    <div class="section-header-underline"></div>
    <div class="section-header-padding-bottom"></div>
    <div class="row section-content-container">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="text-container">
          Engineering Services starts with experience. From main engine repair to the correct application of Bernoulli's Equation, each member of Oceans Yachting has a high level of practical and academic experience needed to successfully support the engine room. Our focus on preventive maintenance, solid daily service, inspections and timely corrective action reduces engineering surprises, schedule delays, and lifecycle costs. Our engineering acumen includes all ship systems, new and old, including, hydraulics, reverse osmosis, electric plant, propulsion plant, AC plant, gray, black and potable water, auxiliaries, pumps, transmissions, exhaust, electronics, communications, software & IT, fuel systems and tanks.
          <br></br>
          Oceans Yachting will guarantee the continued certification with all flag and classification societies.
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="image-container">
          <%= image_tag "engineering.jpg", class:"section-img"%>
        </div>
      </div>
    </div>
  </div>

  <div class="section-4 slug-link">
    <a name="helicopter_aviation"></a>
    <div class="section-header-padding-top"></div>
    <h1 class="text-center section-header">Helicopter/Aviation</h1>
    <div class="section-header-underline"></div>
    <div class="section-header-padding-bottom"></div>
    <div class="row section-content-container">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="image-container">
          <%= image_tag "aviation.jpg", class:"section-img"%>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="text-container">
          Oceans Yachting brings a diverse aviation expertise to manage navigating through both ICAO and FAA regulations.  We can assist during the full life cycle of aviation operations from procurement, through sustainment to end of life cycle.  We excel at Helideck design, and operations from structural and material considerations to clearance and fictional concerns. The equipment needs and inspection protocols will be part of our exceptional service.
          <br></br>
          With our aviation engineering, maintenance and operations experience our team can develop a program to gain efficiencies resulting in grater flexibility, reliability, savings and safety. Lastly, Oceans Yachting has the expertise to train and instruct crew for aviation operations support.
          <br></br>
          Oceans Yachting will comply with SOLAS Chapter 11-2, ICAO Doc. 9261, MSM 1792 (LY2).
        </div>
      </div>
    </div>
  </div>

<%= yield %>

<div class="footer dark-theme">
  <div class="text-center container-fluid footer-text-container">
    <h4>Contact Us</h4>
    Aaron Abramowitz
    <br>
    <div class="contact-footer">
      <a href="tel:203-243-0191">
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 203.243.0191
      </a>
      <br>
      <%= mail_to "aaron@oceansyachting.com" do %>
        <span>aaron@oceansyachting.com</span>
      <% end %>
    </div>
  </div>
  <div class="social-links text-center">
    <a href="https://www.facebook.com" target="_blank"><span><i class="fab fa-facebook"></i></span></a>
    <a href="https://www.linkedin.com" target="_blank"><span><i class="fab fa-linkedin"></i></span></a>
  </div>
</div>

<%= image_tag "logo-image.png", class: "background-logo"%>

<div class="slug-link">
  <a name="contact"></a>
</div>

</body>
</html>
